# IMDB DataSet Analysis

* Importing the Libraries

In [2]:
# Numpy
import numpy as np

# Pandas
import pandas as pd

# MatPlotLib
import matplotlib.pyplot as plt

# Sqlite
import sqlite3 as sql

* Connecting to the DataBase

In [3]:
# db='/content/drive/MyDrive/Projects/IMDB Dataset/movies.sqlite'

# Estabishing connections with the database
db='movies.sqlite'
conn=sql.connect(db)

# Calling Cursor function
cur=conn.cursor()

1. Get all the data's of the movies

In [ ]:
cur.execute("SELECT * FROM movies")

# Fetching all the datas
movies=cur.fetchall()

# Displaying the data
movies

2. Converting data to DataFrame

In [ ]:
# Creating a DataFrame
movies=pd.DataFrame(movies,columns=['id','original_title', 'budget', "popularity", 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

# Displaying the dataframe  
movies

3. Getting information of the dataset

In [82]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   avg_ratings     4773 non-null   float64
 8   rating_count    4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

4. Get all the data about directors

In [ ]:
# Queried the directors
cur.execute("SELECT * FROM directors")
directors=cur.fetchall()

# Calling the directors var
directors

In [ ]:
# converting the directors data into a DataFrame
directors=pd.DataFrame(directors, columns=["name", "id", "gender", "uid", 'department'])
directors

5. Check how many movies are present in the IMDB table

In [84]:
cur.execute("SELECT COUNT(id) FROM movies")
count=cur.fetchall()
print(f"The number of movies present in the IMDB dataset is {count[0]}")

The number of movies present in the IMDB dataset is (4773,)

6. Find the directors : James Cameron, Luc Besson, John Woo

In [85]:
# cur.execute('''SELECT * FROM directors WHERE name="James Cameron" or name="Luc Besson" or name="John Woo"''')
cur.execute('''SELECT * FROM directors WHERE name in ("James Cameron", "Luc Besson", "John Woo")''')
req_directors=cur.fetchall()
print(f"The three required directors are {req_directors}")

The three required directors are [('James Cameron', 4762, 2, 2710, 'Directing'), ('John Woo', 4893, 2, 11401, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

7. Find all the directors with name starting with the word 'Steven'

In [40]:
cur.execute('''SELECT * FROM directors WHERE name LIKE "Steven%"''')
word_starting_directors=cur.fetchall()
print(f"The directors whose name stats with the word 'Steven' are {word_starting_directors}")

The directors whose name stats with the word 'Steven' are [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

8. Count the female directors (1)

In [45]:
cur.execute('''SELECT COUNT(name) FROM directors WHERE gender=1''')
female_directors_count=cur.fetchall()
print(f"The number of female directors are {female_directors_count[0][0]}")

The number of female directors are 150

9. Find the name of the 10th first women directors

In [ ]:
cur.execute('''SELECT name FROM directors WHERE gender=1''')
female_directors=cur.fetchall()
print(f"The 1st 10th female director is {female_directors[9][0]}")

10. What are the 3 most popular movies

In [66]:
cur.execute('''SELECT original_title FROM movies ORDER BY popularity DESC LIMIT 3''')
popular_movies=cur.fetchall()
print(f"The 3 popular movies are : {popular_movies[0][0]}, {popular_movies[1][0]},{popular_movies[2][0]}")

The 3 popular movies are : Minions, Interstellar,Deadpool

11. What are the 3 most bankable movies

In [67]:
cur.execute('''SELECT original_title FROM movies ORDER BY budget DESC LIMIT 3''')
bankable_movies=cur.fetchall()
print(f"The 3 popular movies are : {bankable_movies[0][0]}, {bankable_movies[1][0]},{bankable_movies[2][0]}")

The 3 popular movies are : Pirates of the Caribbean: On Stranger Tides, Pirates of the Caribbean: At World's End,Avengers: Age of Ultron

12. Find the most awarded Average vote movies since Jan 1st 2000

In [105]:
cur.execute('''SELECT original_title FROM movies WHERE release_date > 2000-01-01 ORDER BY vote_average DESC LIMIT 1''')
most_awarded_avg=cur.fetchall()
print(f"Most awarded average rated movie is {most_awarded_avg[0][0]}")

Most awarded average rated movie is Stiff Upper Lips

13. Which movies were directed by Brenda Chapman?

In [119]:
cur.execute('''SELECT movies.original_title FROM movies 
            INNER JOIN directors
            ON movies.director_id=directors.id
            WHERE directors.name="Brenda Chapman"''')

directed_movies=cur.fetchall()
print(f"The movies(s) which are directed by Brenda Chapman are {directed_movies[0][0]}")

The movies(s) which are directed by Brenda Chapman are Brave

14. Name the director who has directed the most number of movies

In [132]:
cur.execute('''SELECT directors.name FROM directors 
            INNER JOIN movies
            ON movies.director_id=directors.id
            GROUP BY directors.name
            ORDER BY COUNT(movies.original_title) DESC LIMIT 1''')

most_directed_movies=cur.fetchall()
print(f"The director who directed most number of movies is {most_directed_movies[0][0]}")

The director who directed most number of movies is Steven Spielberg

15. Find the name of the director who is most bankable

In [133]:
cur.execute('''SELECT directors.name FROM directors 
            INNER JOIN movies
            ON movies.director_id=directors.id
            GROUP BY directors.name
            ORDER BY SUM(budget) DESC LIMIT 1''')

most_bankable_movies=cur.fetchall()
print(f"The director who directed most bankable is {most_bankable_movies[0][0]}")

The director who directed most bankable is Steven Spielberg